*.ninja*
cmake_*
CMakeFiles*
CMakeCache*
nbproject
build
*.user
doc
.vscode

# CMake-generated Makefiles
Makefile
*/Makefile

# Backup files
*.bak

# Compiled binaries
cli/aft-mtp-cli
cli/set-zune-guid
